{% extends 'base.html' %}
{% block content %}

<h1>Book Details</h1>
<div class="col s6">

  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ book.title }}</span>
      <p>Author: {{ book.author }}</p>
      <p>Description: {{ book.description|linebreaks }}</p>
      <p>Date : {{ book.date}}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'book_update' book.id %}">Edit</a>
      <a href="{% url 'book_delete' book.id %}">Delete</a>
    </div>
    <div class="col s6">
      <table class="striped">
        <h4> Chapters </h4>
        <thead>
          <tr><th>Date</th><th>Chapter</th><th>Status</th></tr>
        </thead>
        <tbody>
          {% for ch in book.chapter_set.all %}
            <tr>
            <td>{{ch.date}}</td>
            <td>{{ch.title}}</td>
            <td>{{ch.get_status_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
        <br>
      </table>
    </div>
    <div class = "container grey lighten-2">
        <form action="{% url 'add_chapter' book.id %}" method="POST" >
          {% csrf_token %}
          {{ chapter.as_p }}
         <input type="submit" class="btn" value="Add Chapter">
        </form>
    </div>
  </div>
</div>
<!-- The below is for bookmarks-->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>Associated Bookmarks </h3>
      {% if book.bookmark.count %}
        {% for bm in book.bookmark.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                Bookmark <span style="color: {{ bm.color }}">{{ bm.color }}</span> made of  {{ bm.material }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_bookmark' book.id bm.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Bookmarks yet</h5>
      {% endif %}
    </div>
  </div>
  <div class="col s6">
    <h3>Available Bookmarks</h3>
    {% if bookmarks.count %}
      {% for bm in bookmarks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Bookmark <span style="color: {{ bm.color }}">{{ bm.color }}</span> made of  {{ bm.material }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_bookmark' book.id bm.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{book.title}} Already Has All Bookmarks Available</h5>
    {% endif %}
  </div>
  

<script>
  const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
